name: ecommerce-project-test

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.20.2'
      id: go

    - name: build application
      run: make build
      
    - name: Install dependencies
      run: make deps
    
    - name: Run tests
      run: make test
